.about {
  padding: 190px 0 130px;
}
.about__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.02em;
  margin-bottom: 25px;
}
.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.about__img {
  max-width: 445px;
  width: 100%;
  max-height: 545px;
  height: 100%;
  margin-right: 20px;
}
.about__description {
  max-width: 545px;
  width: 100%;
}
.about__item-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 45px;
}
.about__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}
.about__text:last-child {
  margin-bottom: 0;
}
.about--reverse {
  order: 2;
}
